* {
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}

main {
	background-color: black;
}

.background-image {
	background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/paint-palette-1517611331.jpg?crop=0.966xw:1.00xh;0.0176xw,0&resize=768:*);
	background-repeat: no-repeat;
	background-size: 1248px 610px;
	width: 1248px;
	height: 610px;
	margin-top: 0;
}

.title {
	position: absolute;
	bottom: 28px;
	right: 172px;
}

.tag-line {
	position: absolute;
	bottom: 0px;
	right: 20px;
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 48px;
}

header {
	color: black;
	text-align: right;
}

.row {
  max-width: 1000px;
  /*padding-left: 20px;
  padding-right: 20px;*/
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-2 {
  float: left;
  width: 100%;
}

.box {
	height: 200px;
}

.color0 {
	background-color: black;
}

.color1 {
	background-color: black;
}

.color2 {
	background-color: black;
}

.color3 {
	background-color: black;
}

.color4 {
	background-color: black;
}

.color5 {
	background-color: black;
}

@media only screen and (min-width: 770px) {
	.col-2 {
		width: 16%;
	}
	.box {
		height: 400px;
	}
}

